.logout-btn{
    background: #ff000000;
    border: 0;
    color: #fff;
    font-size: 12px;
    padding: 12px;
}

.admin{
	color: #fff !important;
    padding: 12px;
    margin-top:20px !important;
}

.auth-name{
    color: #fff !important;
    padding: 12px;
}



.orderbtn{
	&:hover{
	background: #fff !important;
	}
}